.HomeGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.CommitteePhoto {
  display: flex;
  margin: auto;
  margin-top: 0;
}

@media (width <= 700px) {
  .HomeItem {
    width: 100%;
    display: flex;
  }
}

@media (width > 700px) {
  .HomeItem {
    width: 50%;
    display: flex;
  }
}
