.HomeGrid {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: flex-start;
}

.CommitteePhoto {
  display: flex;
  margin: auto;
  width: 95%;
}

@media (max-width: 700px) {
  .HomeItem {
    width: 100%;
  }
}

@media (min-width: 701px) {
  .HomeItem {
    width: 46%;
    padding: 5% 2% 0% 2%;
  }
}

.HomeItem {
  display: flex;
  flex-direction: column;
}
