body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Lato'), url(./fonts/Montserrat-VariableFont_wght.ttf) format('truetype');
}

.Mini {
  font-family: Montserrat, sans-serif;
  font-weight: light;
  font-size: 13px;
  margin-bottom: 5px;
}

a {
  color: black;
}
